.menu-items{
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.content {
    max-height: 7rem;
    min-height: 7rem;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
  }



  .content:hover, #code:hover{
    cursor: pointer;
  }

 
